<div role = "form">
    <div class="box-body">
        <field id = "name" label = "Nome" grid = "12 6 4" placeholder = "Informe o nome" model = "ctrlBC.billingCycle.name" readonly = "ctrlBC.tabDelete"></field>
        <field id = "month" label = "Mês" grid = "12 6 4" placeholder = "Informe o mês" model = "ctrlBC.billingCycle.month" type ="number" readonly = "ctrlBC.tabDelete"></field>
        <field id = "year" label = "Ano" grid = "12 6 4" placeholder = "Informe o ano" model = "ctrlBC.billingCycle.year" type ="number" readonly = "ctrlBC.tabDelete"></field>
    </div>
    <div class="box-footer">
        <button class="btn btn-primary" ng-click = "ctrlBC.create()" ng-if = "ctrlBC.tabCreate" ng-click="ctrlBC.refresh()"> Incluir </button>
        <button class="btn btn-info" ng-if = "ctrlBC.tabUpdate" ng-click="ctrlBC.atualizar()"> Alterar </button>
        <button class="btn btn-danger" ng-if = "ctrlBC.tabDelete" ng-click="ctrlBC.delete()"> Excluir </button>
        <button class="btn btn-default" ng-click="ctrlBC.refresh()"> Cancelar </button>
    </div>    
</div>