html {background-color: #ecf0f5; }
.main-footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.table-actions {width: 140px;}

.small-box-size {padding-top: 10px}

.small-box-collor {padding-bottom: 10px}

